/* correlation.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    margin-top: 20px;
}

.correlation-data {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    text-align: initial;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
}

b {
    color: #0074d9;
}

.correlation-graph {
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.custom-button:hover {
    background-color: #0056b3;
}

.fa {
    margin-right: 5px;
}

.correlation-data p:last-child {
    color: #888;
}